<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="net.juniper.scutools.builder.ScuNodeProjectBuilder"
         name="Scu Node Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="net.juniper.scutools.builder.ScuNodeProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="net.juniper.scutools.builder.ScuNodeProjectNature"
         name="SCU Node Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.juniper.scutools.builder.ScuNodeProjectNature">
         </run>
      </runtime>
      <builder
            id="net.juniper.wtftools.builder.WtfProjectBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Wtf Project Nature commands"
            id="WtfTools.wtfprojectNature.category">
      </category>
      <command
            name="Add/RemoveWtf Project Nature"
            defaultHandler="net.juniper.scutools.builder.AddRemoveScuProjectNatureHandler"
            categoryId="WtfTools.wtfprojectNature.category"
            id="WtfTools.addRemoveWtfProjectNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="WtfTools.addRemoveWtfProjectNature"
               label="Disable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              value="WtfTools.wtfprojectNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="WtfTools.addRemoveWtfProjectNature"
               label="Enable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <not>
                           <test
                                 value="WtfTools.wtfprojectNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Wtf Project Wizards"
            id="WtfTools">
      </category>
      <wizard
            category="WtfTools"
            class="net.juniper.scutools.wizards.ScuNodeProjectWizard"
            finalPerspective="org.eclipse.wst.jsdt.ui.JavaPerspective"
            icon="icons/sample.gif"
            id="net.juniper.wtftools.wizards.ScuNodeProjectWizard"
            name="SCU Node Project Wizard"
            project="true">
      </wizard>
      <wizard
            category="WtfTools"
            class="net.juniper.scutools.wizards.WtfProjectNewWizard"
            icon="icons/sample.gif"
            id="net.juniper.wtftools.wizards.WtfProjectNewWizard"
            name="Wtf Project Wizard"
            project="true">
      </wizard>
      <wizard
            category="WtfTools"
            class="net.juniper.scutools.wizards.WtfApplicationNewWizard"
            icon="icons/sample.gif"
            id="net.juniper.wtftools.wizards.WtfApplicationNewWizard"
            name="Wtf Application Wizard"
            project="true">
      </wizard>
      <wizard
            category="WtfTools"
            class="net.juniper.scutools.wizards.WtfTemplateNewWizard"
            icon="icons/sample.gif"
            id="net.juniper.wtftools.wizards.WtfTemplateNewWizard"
            name="Wtf Template Wizard"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Wtf Category"
            id="WtfTools">
      </category>
      <view
            name="Wtf View"
            icon="icons/sample.gif"
            category="WtfTools"
            class="net.juniper.scutools.views.WtfProjectView"
            id="net.juniper.wtftools.views.WtfProjectView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="net.juniper.wtftools.views.WtfProjectView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="net.juniper.scutools.project.WtfClasspathInitializer"
            id="net.juniper.wtf.library.container">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IResource"
            id="net.juniper.wst-toolset">
         <menu
               label="Wtf Tools"
               id="net.juniper.wst-tool">
            <separator name="group0"/>
         </menu>
         <filter
               value="net.juniper.wtftools.builder.WtfProjectNature"
               name="projectNature"/>
         <action
               class="net.juniper.scutools.project.UpdateWtfClasspathAction"
               id="net.juniper.wtftools.project.UpdateWtfClasspathAction"
               label="Update Wtf ClassPath"
               menubarPath="net.juniper.wst-tool/group0"/>
         <action
               class="net.juniper.scutools.project.AddWtfProjectNature"
               id="net.juniper.wtftools.project.AddWtfProjectNature"
               label="Add Wtf Project Nature"
               menubarPath="net.juniper.wst-tool/group0">
         </action>
       	</objectContribution>
    </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.juniper.scutools.editor.BrowserDesignEditor"
            default="false"
            filenames="*.html"
            id="net.juniper.wtftools.editor.BrowserDesignEditor"
            name="Design Editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.wst.html.core.htmlsource">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.juniper.scutools.preferences.ScuPreferencePagesCategory"
            id="net.juniper.scutools.preferences.ScuPreferencePagesCategory"
            name="SCU Configurations">
      </page>
      <page
            category="net.juniper.scutools.preferences.ScuPreferencePagesCategory"
            class="net.juniper.scutools.preferences.ScuPreferencePagesLocation"
            id="net.juniper.scutools.preferences.ScuPreferencePagesLocation"
            name="NodeJS Configuration">
      </page>
      <!--<page
            category="net.juniper.wtftools.preferences.WtfPreferencePagesCategory"
            class="net.juniper.wtftools.preferences.WtfPreferencePagesLocation"
            id="net.juniper.wtftools.preferences.WtfPreferencePagesLocation"
            name="Framework Project Location">
      </page>
      -->
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="net.juniper.scutools.launch.ScuV8LaunchShortcut"
            icon="icons/start_server.gif"
            id="net.juniper.scutools.launch.ScuV8LaunchShortcut"
            label="Start SCU Server"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        operator="and">
                     <test
                           property="org.eclipse.debug.ui.projectNature"
                           value="net.juniper.scutools.builder.ScuNodeProjectNature">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
</plugin>
